# Ignore python caches
__pycache__
__pycahce__/*


# Ignore unsloth files
unsloth_compiled_cache 
unsloth_compiled_cache/*

# Ignore Training Output contents
TrainingOutput/*

# Ignore system prompts contents
systemprompts/*

# Ignore datafiles
data/trainingData/*
data/__init__.py

# Ignore backup files
opwebuiTools/diary copy.py
data/createData.py

# Ignore secrets
data/createTrainingData/secrets.json

# Ignore venv
venv

#Ignore llamaCPP
llama.cpp

#Ignore database fragments
DiaryUpdates-backup.txt
DiaryUpdates.txt
DatabaseFragments

#Ignore SQLite Database
training_tools.db

#Ignore training data
generatedTrainingData.json