# Ignore python caches
__pycache__
__pycahce__/*


# Ignore unsloth files
unsloth_compiled_cache 
unsloth_compiled_cache/*

# Ignore Training Output contents
TrainingOutput/*

# Ignore system prompts contents
systemprompts/*

# Ignore datafiles
data/trainingData/*
data/__init__.py

# Ignore backup files
opwebuiTools/diary copy.py
data/createData.py

# Ignore secrets
data/createTrainingData/secrets.json
